* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*! For Holidays page and for Umrah Hotels */
.horizontal-scroll {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: none;
}
.card-horizon {
  width: 300px;
  height: 400px;
  flex: 0 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    transform: scale(1.02) !important;
  }
}
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 5px 18px;
  border-radius: 50%;
  background-color: #ffffff82;
  backdrop-filter: blur(10px);
  border: none;
  z-index: 10;
  text-shadow: 0px 0px 2px black;
  &:hover {
    background-color: #ffffffd6;
  }
}
.left-btn {
  left: 20px;
}
.right-btn {
  right: 20px;
}
/** Contact form */
.form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  padding: 10px;
}

.form-container {
  background: rgba(255, 255, 255, 0.481);
  animation: pop-up-animation 0.6s;
  position: relative;
}

.form-container input {
  background: rgba(255, 255, 255, 0.381);
  border: none;
}

.form-container select {
  background: rgba(255, 255, 255, 0.381);
  border: none;
  height: 60px;
  width: 140px;
}

.inputs input,
select {
  height: 60px;
  width: 140px;
}

.btn-lg {
  position: absolute;
  top: -15px;
  font-size: 2rem;
  right: -5px;
  border: none;
  border-radius: 50%;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 0px 10px;
}

/** Medium Devices (Tablets) - 737px to 833px */
@media only screen and (min-width: 737px) and (max-width: 833px) {
  .card-horizon {
    width: 300px;
    height: 400px;
  }

  .form-container select {
    height: 50px;
    width: 120px;
  }

  .inputs input,
  select {
    height: 50px;
    width: 120px;
  }
}

/** Small Devices (Tablets & Large Phones) - 480px to 736px */
@media only screen and (min-width: 480px) and (max-width: 736px) {
  .card-horizon {
    width: 300px;
    height: 400px;
  }

  .form-container select {
    height: 40px;
    width: 120px;
  }

  .inputs input,
  select {
    height: 40px;
    width: 120px;
  }

  .flex-container {
    flex-wrap: wrap;
  }
}

/** Extra Small Devices (Phones) - Up to 480px */
@media only screen and (max-width: 480px) {
  .card-horizon {
    width: 300px;
    height: 400px;
  }

  .form-container select {
    height: 30px;
    width: 120px;
  }

  .inputs input,
  select {
    height: 30px;
    width: 120px;
  }

  .flex-container {
    flex-wrap: wrap;
  }
}
